{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],

  "plugins": [
      ["module-resolver", {
        "root": ["./lib","./packages"],
        "alias": {
          "config": "./config.js"
        }
      }]
    ]
}
