# See http://help.github.com/ignore-files/ for more about ignoring files.

/data/DB

# dependencies
/node_modules
/data/messaging

# misc
npm-debug.log
package-lock.json
yarn-error.log
yarn.lock
.DS_Store
