# See http://help.github.com/ignore-files/ for more about ignoring files.

/data/DB
/data2/DB

# dependencies
/node_modules
data/messaging/*
data2/messaging/*

# misc
npm-debug.log
yarn-error.log
.DS_Store
